src/main/api/get-suppliers-search-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="search-result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="suppliers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="supplier" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="supplierId"/>
                    <xs:element type="xs:string" name="supplierName"/>
                    <xs:element type="xs:string" name="supplierLocation"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>